<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="images/image10.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About</h2>
                    </div>
                    <p class="lead">Hey,I am Abhishek here.I am 25 years old.I am studying software enginnering technician course in Centennial college.</p>
                    <p class="mb-5  ">I come from India.I have one year experience as laravel developer which is framework of php language.My hobbies are playing cricket,listening music,travelling and reading books.My strenghths are discipline and patience.</p>
                    <form action="https://web-app-assign.herokuapp.com/images/Resume.pdf" method="get"class="site-form">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary  px-4 py-3" value="Send message">
                    </div>
                </form>
                </div>
            </div>
    
    
        </div>
    </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>